<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css.css" rel="stylesheet" />
    <title>Meu curriculo</title>
</head>

<body>
    <br>
    <div class="conteiner">
        <table>
            <tr>
                <br>
                <td><img src="WhatsApp Image 2023-08-15 at 17.01.54.jpeg" width="250" height="300" class="imagem"></td>
                <td>
                    <h1>JOSÉ BEZERRA DA SILVA JUNIOR</h1>
                    <br><br>

                    <p class="info"> <strong>E-mail:</strong> josebezerra.jr3@gmail.com</p>
                    <p class="info"> <strong>Telefone:</strong> 55+ (11) 943320842</p>
                    <p class="info"> <strong>Endereço:</strong> Travessa papacapim N-54</p>
                    <p class="info"> <strong>Bairro:</strong> Jardim novo horizonte </p>
                </td>

                <td>
                    <br><br><br>
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://github.com/juniorzs2"><img src="github.png" width="50" height="50"></a>
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.facebook.com/profile.php?id=100009138591913"><img src="facebook.png" width="50" height="50"></a>
                    <p></p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.instagram.com/__junior_zs/"><img src="instagram.png" width="50" height="50"></a>

                </td>
            </tr>
        </table>
        <hr>
        <center>
            <h2> OBJETIVO</h2>
        </center>
        <ul>

            <li>Estagio em Analise e Desenvolvimento de Sistemas</li>

        </ul><br>
        <hr>

        <center>
            <h2>FORMAÇÃO ACADEMICA
            </h2>
        </center>
        <br>
        <ul>
            <li>Ensino Médio - E.E Presidente Tancredo de Almeida Neves - 3 Ano </li>
            <P class="um">Concluido</P>
            <br>
            <li>Ensino Médio - Analise e Desenvolvimento de Sistemas - SENAC - centro universitario SENAC</li>
            <p class="um">Cursando</p>
        </ul><br>
        <hr>
        <center>
            <h2>FORMAÇÃO COMPLEMENTAR</h2>
        </center>
        <br>
        <ul>
            <li>HTML Básico - Fundação Bradesco</li><br>
            <li>Montagem e Manutenção de Microocomputadores - SENAI</li><br>
            <li>Excel Básico - SENAI </li><br>
            <li>Crescendo e Empreendendo - SEBRAE</li><br>
            <li>Photoshop Básico </li><br>
            <li>Programa de Desenvolvimento: "vias de acesso para o mercado de trabalho" - Via de Acesso</li>

        </ul><br>
        <hr>
        <center>
            <h2>IINFORMATICA</h2>
        </center>
        <ul>
            <li>Conhecimento em pacote Office</li>

        </ul>
    </div>
    </div>


</body>

</html>